<template>
    <div v-if="posts.length">
        <h3>Список пользователей</h3>
        <transition-group name="post-list">
            <post-item
                :post="post"
                v-for="post in posts"
                :key="post.id"
                @remove="$emit('remove', post)"
            />
        </transition-group>
    </div>
    <h2 v-else style="color: red">Список постов пуст</h2>
</template>

<script>
import PostItem from "@/components/PostItem";

export default {
    name: "post-list",
    components: {
        PostItem
    },
    props: {
        posts: {
            type: Array,
            required: true,
        }
    }
}
</script>

<style scoped>
    .post-list-move, /* apply transition to moving elements */
    .post-list-enter-active,
    .post-list-leave-active {
        transition: all 0.5s ease;
    }

    .post-list-enter-from,
    .post-list-leave-to {
        opacity: 0;
        transform: translateX(130px);
    }

    /* ensure leaving items are taken out of layout flow so that moving
       animations can be calculated correctly. */
    .post-list-leave-active {
        opacity: 0;
    }
</style>
